*{
    box-sizing: border-box;
}
*:focus{
    outline: 3px dotted #FF7500;
    outline-offset: 3px;
}
body{
    font-family: 'Roboto', "Arial" , sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .5px ;
    margin: 0;
    padding: 0;
}
header{
    border-top: 5px solid #FF7500;
    padding-top: 16px;
    padding-bottom: 16px;
}
.container{
    width: 100%;
    max-width: 1130px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header-right{
    display: flex;
    align-items: center;
}
.logo-link{
    transition: opacity .4s ease;
}
.logo-link:hover{
    opacity: 0.8;
}
.logo-link:active{
    opacity: 0.6;
}
.logo-link img{
    display: block;
}
.parent-item{
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 32px;
    list-style: none;
}
.list-items{
    margin-right: 32px;
 }
.list-items:last-child{
    margin-right: 0;
}
.list-items a{
    text-transform: uppercase;
    line-height: 15px;
    font-size: 13px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    transition: all .4s ease;
    padding: 0;
}
.list-items:hover{
    color: #FF7500;
}
.list-items:active{
    opacity: 0.6;
}
.main-link{
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    background-color: #ff7500;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: bold;
}
.main-link:hover{
    opacity: 0.8;
}
.main-link:active{
    opacity: 0.6;
}
.main{
    width: 100%;
}
.hero{
    color: #fff;
    background-color: #252420;
    padding-top: 80px;
    padding-bottom: 80px;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-content{
    width: 387px;
}
.orange-line{
    width: 80px;
    height: 3px;
    background-color: #FF7500;
    border: none;
    margin: 0;
    margin-bottom: 40px;
}
.hero-heading{
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0;
    margin-bottom: 24px;
}
.hero-text{
    margin-top: 0;
    margin-bottom: 32px;
}
.python-img{
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(255, 117, 0, .6);
}
.features{
    padding-top: 210px;
    padding-bottom: 210px;
}
.feature{
    width: 340px;
    list-style-type: none;
    margin-right: 40px;
}
.feature:last-child{
    margin-right: 0;
}
.features-heading{
    width: 435px;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 1.2;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0;
    margin-bottom: 72px;
}
.feature-items{
    display: flex;
    /* justify-content: space-between; */
    padding: 0;
    margin: 0;
}
.feature-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, .2);
    margin-bottom: 32px;
}
.feature-title{
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0;
    margin-bottom: 12px;
}
.feature-info{
    margin: 0;
}
.promo{
    padding-top: 120px;
    padding-bottom: 160px;
}
.promo-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #252420;
    padding: 64px;
    border-radius: 12px;
 }
.promo-content{
    width: 400px;   
}
.promo-heading{
    font-size: 40px;
    line-height: 48px;
    font-family: 'Roboto Condensed', sans-serif;margin-top: 0;
    margin-bottom: 24px;  
}
.promo-info-wrapper{
    margin-bottom: 24px;
}
.promo-text{
    margin-top: 0;
    margin-bottom: 12px;
}
.promo-text:last-child{
    margin-bottom: 0;
}
.promo-highlight{
    color: #FF7500;
}
.collacted-images{
    width: 440px;
    height: 440px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 40px;
}
.footer{
    background-color: #f8f8f8;
    padding-top: 56px;
    padding-bottom: 56px;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-media-links{
    margin: 0;
}
.social-media-links li{
    margin-right: 16px;
}
.social-media-links li:last-child{
    margin-right: 0;
}
.social-media-links{
    display: flex;
    align-items: center;
    padding: 0;
}
.social-media-links a{
    color: #252420;
    display: block;
}
.social-media-links a:hover{
    color: #FF7500;
}
.social-media-links:active{
    opacity: 0.6;
}
.social-media-links svg{
    display: block;
}
.footer-line{
    background-color: rgba(37, 36, 32, .5);
    height: 2px;
    border: none;
    margin-top: 40px;
    margin-bottom: 64px;
}
.footer-links{
    display: flex;
    align-items: flex-start;
}
.footer-links ul{
    padding: 0;
}
.page-items{
    width: 224px;
    line-height: 19px;
    padding: 0;
    margin: 0;
    margin-right: 68px;
}
.page-items li{
    margin-bottom: 16px;
}
.page-items li:last-child{
    margin-bottom: 0;
}
.page-items:last-child{
    margin-right: 0;
}
.footer ul{
    list-style-type: none;
    text-decoration: none;
    color: #252420;
}
.footer ul li a{
    text-decoration: none;
    color: #252420;
}
.footer ul li a:hover{
    color: #ff7500;
}
.footer ul li a:active{
    opacity: 0.6;
}